.toggle-switch {
    &__wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        @media only screen and (min-width: 800px) {
            width: auto;
        }

        &:hover {
            cursor: pointer;

            & * {
                cursor: pointer;
            }

            label {
                color: var(--color-text-1);
            }

            button {
                filter: brightness(120%);
            }
        }
    }

    &__label {
        margin-right: auto;
        color: var(--color-text-2);
        font-size: 1.75rem;
        font-weight: 700;

        @media only screen and (min-width: 800px) {
            margin-right: 2rem;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 6rem;
        height: 3rem;
        border: none;
        border-radius: 10rem;
        padding: 0 .5rem;
        background: linear-gradient(to right, var(--color-toggle-1), var(--color-toggle-2));

        &--inactive {
            justify-content: flex-end;
        }
    }

    &__circle {
        display: block;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: var(--color-top-bg);
    }
}

.overview-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 27rem;
    border-radius: 6px;
    padding-top: 4rem;
    background-color: var(--color-card-bg);
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 4px;
    }

    &__title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        img {
            margin-right: 1rem;
            width: 2.675rem;
            height: auto;
        }

        p {
            color: var(--color-text-2);
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    &__heading {
        color: var(--color-text-1);
        font-size: 7rem;
        font-weight: 700;
    }

    &__subheading {
        margin-bottom: 3rem;
        color: var(--color-text-2);
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .625rem;
    }

    &__growth {
        margin-bottom: 3.25rem;
        font-size: 1.5rem;
        font-weight: 700;

        &--positive {
            color: var(--color-lime-green);

            &::before {
                content: url('../img/icon-up.svg');
                position: relative;
                top: -2px;
                left: -4px;
            }
        }

        &--negative {
            color: var(--color-bright-red);

            &::before {
                content: url('../img/icon-down.svg');
                position: relative;
                top: -1px;
                left: -4px;
            }
        }
    }

    &--facebook {
        &::before {
            background-color: var(--color-facebook-blue);
        }
    }

    &--twitter {
        &::before {
            background-color: var(--color-twitter-blue);
        }
    }

    &--instagram {
        &::before {
            background: linear-gradient(to right, var(--color-instagram-orange), var(--color-instagram-pink));
        }
    }

    &--youtube {
        &::before {
            background-color: var(--color-youtube-red);
        }
    }
}